@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.swal2-container {
    z-index: 999999999999 !important;
}