@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.p-fileupload-basic {
    justify-content: flex-start !important;
    & button {
        background: #13213c !important;
        border: 0 none !important;
    }
}

.swal2-container {
    z-index: 999999999999 !important;
}